<<<<<<< HEAD
<% if session[:cart] %>
  <% session[:cart].each do |item| %>
    <p><%= item %></p>
  <% end %>
<% end %>

<form action="<%= products_add_path %>" method="POST">
  <label>Shopping Cart:</label><br>
  <input type="text" id="product" name="product"><br>

  <input type="submit" value="add to cart">
</form>
=======
<%= form_for @product do |f| %>
  <%= f.text_field :product %>
  <%= f.submit value='add to cart'%>
<% end %>
>>>>>>> 2a1ec9eba102eb1e4c04c471bf12263625404b77
